.appLayout {
    display: flex;
  }
  
.mainContent {
  flex: 1;
  margin-inline-start: 240px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
@media (max-width: 960px) {
  .appLayout {
    flex-direction: column;
  }
  .mainContent {
    margin-inline-start: 0;
    min-height: auto;
  }
}
